# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\epam\3_Text_handling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
